!!! 5
%html
	%head
		%title SHORYUKEN
		%link(rel="stylesheet" href="css/main.css" type="text/css")
	%body
		#login Login!
		#logout Log out!
		#tohide
			%input(id="choose" type="file" name="audio")
			%br
			%input(id="title" type="text" name="title")
			%br
			%textarea(id="desc" name="desc")
			%br
			%a(id="upload") UP! UP! AND UP!
			#type
		#progress
		#status
		#url
		#center
			#loading	
				%img(src="http://s3.amazonaws.com/ComplexBeast/loading.gif")
		%script(src="http://code.jquery.com/jquery-1.7.2.min.js")
		%script(src="js/jt.js")
