!!! 5
%html
	%head
		%title DAT NEW USER
	%body
		%form(method="post" action="/newuser" name="newuser" autocomplete="on")
			%label(for="name") Name: 
			%input(type="text" id="name" name="name")
			%br
			%label(for="username") Username: 
			%input(type="text" id="username" name="username")
			%br
			%label(for="email") Email: 
			%input(type="email" id="email" name="email")
			%br
			%input(type="submit" value="Make me a member!")
		%p We have a fun way of having passwords for you: we email you a different one on each log in. This is for increased security, and hopefully the system will work.
		